.tree-container {
    margin: auto;
    width: 90%;
    height: 600px;

    .mat-card {
        box-shadow: none !important;
    }

    .form-title {
        margin-bottom: 10px;
    }

    .form-tree {
        height: calc(100% - 100px);
        overflow: auto;
    }
}