@use '@angular/material' as mat;

.app-main {
    width: 40%;
    height: 100%;
    margin: auto;

    .item-list {
        padding: 16px;
        color: black;
        cursor: pointer;
        margin-bottom: 16px;
        text-decoration: none;
        font-size: 20px;
        @include mat.elevation(2);
    }
}